.prodisplay {
  background-color: #4f46e5;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  /* padding-top: -16vh; */
  margin-top: -15px;
  padding-bottom: 10vh;
}

.searchinput {
  /* width: 50%; */
  margin-top: 20px;
  height: 50px;
  border-radius: 6px;
  padding: 0 15px;
  margin-top: 8px;
  color: #707070;
  outline: none;
  border: 1px solid #ddd;
  /* font-size: 1rem; */
}

.searchinput:focus {
  border: 1px solid purple;
  color: purple;
}

.print-button {
  height: 40px;
  width: 100px;
  background-color: #4f46e5;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s ease;
}

.print-button:hover {
  background-color: #2b20ff;
}
.voter-count {
  display: inline;
  margin-right: 10px;
}
